# Node
node_modules/
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.idea/
.vscode/
*.swp

# Coverage/build/output
coverage/
dist/
build/
.tmp/

# Local env
.env
.env.*

src/inputs/private_key.pem
src/inputs/public_key.pem
src/outputs/


